[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
pdbpp = "*"
python-dotenv = "*"

[packages]
google-cloud-firestore = "*"

[requires]
python_version = "3.7"
