[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
ipython = "*"
python-dotenv = "*"
pylint = "*"
rope = "*"

[packages]
google-cloud-firestore = "*"
firebase-admin = "*"
toolz = "*"
flask = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
