<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Acquire</title>
</head>
<body>
<form id="form" action="http://localhost:5000/" method="post">
    <table>
        {% for y in y_range %}
            <tr>
            {% for x in x_range %}
                <td>
                    {% if grid[x][y] %}
                        <svg width="20" height="20">
                            <rect width="20" height="20" style="fill:{{ hex_color_values_by_brand[grid[x][y].brand] }}"/>
                        </svg>
                    {% else %}
                        <input type="radio" name="grid_space" value="{{ x }},{{ y }}">
                    {% endif %}
                </td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <label for="brand">Brand:</label>
    <select id="brand" name="brand" form="form">
        {% for brand in brands %}
            <option value={{ brand[0] }}>{{ brand[1] }}</option>
        {% endfor %}
    </select>
    <input type="submit"/>
</form>
</body>
</html>